@model EShop.ViewModels.Account.RegisterViewModel
<form asp-action="Register" asp-controller="Account" id="register-form"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-begin="onBeginForRegister"
      data-ajax-complete="onCompleteForRegister"
      data-ajax-success="onSuccessForRegister"
      data-ajax-failure="onFailureForRegister"
      data-ajax-loading="#register-loading-element">
    <div asp-validation-summary="All" class="text-danger mt-4" id="register-errors-place"></div>
    <div class="my-3">
        <label asp-for="UserName" class="form-label"></label>
        <input asp-for="UserName" class="form-control">
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="my-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
        <div id="emailHelp" class="form-text">
            ما به شما اطمینان میدهیم که ایمیل شما را با کسی به اشتراک نخواهیم گذاشت
        </div>
    </div>
    <div class="my-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="my-3">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" class="form-control">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    @*<div class="form-group my-3">
        <GoogleRecaptchaHelper asp-id="register-nabar-recaptcha" asp-callback="registerNavbarRecaptchaCallBack"></GoogleRecaptchaHelper>
    </div>*@
    <div class="my-3">
        <button type="submit" class="btn btn-primary">ثبت نام</button>
        <img src="/images/application/loading.gif" style="display: none" alt="Loading ..." width="40" id="register-loading-element"/>
    </div>
    <p class="mt-3 alert alert-success d-none">
        ثبت نام شما با موفقیت انجام شد.
        لطفا برای فعال سازی حساب کاربری خود ایمیل ارسال شده به ایمیلتان را تایید نمایید
    </p>
</form>