<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewData["Title"]</title>
    <style>
        * {
            font-family: tahoma;
        }
    </style>
</head>
<body dir="rtl">
    @RenderBody()
</body>
</html>