@model EShop.ViewModels.Account.ForgotPasswordEmailViewModel
@{
    Layout = "~/Views/EmailTemplates/_EmailsLayout.cshtml";
    ViewData["Title"] = "بازنشانی رمز عبور";
    var resetPasswordLink = Url.Action("ResetPassword", "Account", new { area = "", code = Model.ResetPasswordCode }, protocol: this.Context.Request.Scheme);
}
<h3>
    @Model.UserName عزیز
</h3>
<h2>برای بازنشانی رمز عبور خود روی لینک زیر کلیک نمایید</h2>
<a href="@resetPasswordLink">کلیک کنید</a>