@model EShop.ViewModels.TestWebApi.AddUserViewModel

@{
    ViewData["Title"] = "افزودن کاربر";
}

<div class="container">
    <h4 class="text-center">افزودن کاربر جدید</h4>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-action="Add" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserAvatar" class="control-label"></label>
                    <input asp-for="UserAvatar" class="form-control" />
                    <span asp-validation-for="UserAvatar" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="ایجاد" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>