@{
    ViewData["Title"] = "فعال سازی حساب حساب کاربری";
}

<div class="alert alert-success text-center" role="alert">
    حساب کاربری شما با موفقیت فعال شد
    <br />
    از طریق لینک زیر میتوانید وارد حساب کاربری خود شود
    <a asp-action="Login" asp-controller="Account" asp-area="">ورود</a>
</div>