@model EShop.ViewModels.Account.ForgotPasswordViewModel

@{
    ViewData["Title"] = "بازنشانی رمز عبور";
}

<div class="container">
    <h4>@ViewData["Title"]</h4>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-action="ForgotPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                @*<div class="form-group my-3">
                    <GoogleRecaptchaHelper asp-callback="loginPageRecaptchaCallBack" asp-id="login-page-recaptcha"></GoogleRecaptchaHelper>
                </div>*@
                <div class="form-group my-3">
                    <input type="submit" value="بازنشانی" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>