@{
    ViewData["Title"] = "بازنشانی رمز عبور";
}

<div class="alert alert-success text-center" role="alert">
    رمز عبور شما با موفقیت بازنشانی شد.
    <br />
    از طریق لینک زیر میتوانید وارد حساب کاربری خود شود
    <a asp-action="Login" asp-controller="Account" asp-area="">ورود</a>
</div>